
.body {
    background-image: url("img/back.jpg");
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.div1{
    max-width: 500px;
    height: 300px;
    margin-left: 30%;
    background: rgba(255, 255, 255, 0.09);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.3px);
    -webkit-backdrop-filter: blur(7.3px);
    border: 1px solid rgba(255, 255, 255, 0.77);
}
.heading{
    color: blueviolet;
    font-size: 40px;
    text-align: center;
    border: 1px solid rgb(197, 233, 218);
    border-radius: 15px;
    background-color:rgba(248, 247, 216, 0.6);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
#convertButton {
    border-radius: 10px;
    background-color: rgba(248, 247, 216, 0.3);
    color: rgb(236, 217, 217);
    font-size: 17px;
    
}
#yardsInput {
    border-radius: 10px;
    background-color: rgba(248, 247, 216, 0.4);
    font-size: 20px;
    text-align: center;

}
#result {
    font-size: 30px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
}

#result {
    font-size: 40px;
    color: rgb(69, 134, 91);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(99, 201, 196);
    border-radius: 15px;
}
h2 {
    color: rgb(204, 204, 240);
    font-size: 30px;
    
}